<h2>
  {{title}}
</h2>

<button class="btn btn-primary" [class.active]="isActive">Hey there!</button>
<button class="btn" [style.backgroundColor]="isActive?'blue':'red'" (click)="onClick($event)" >Hey there!</button>

<input [(ngModel)]="email" type="text" (keyup.enter)="onKeyUp()">

<ol>
  <li>{{course.title | uppercase}}</li>
  <li>{{course.rating | number:'1.2-2' }}</li>
  <li>{{course.student | number}}</li>
  <li>{{course.price | currency:'INR':'symbol':'3.1-1'}}</li>
  <li>{{course.releaseDate | date:'shortDate'}}</li>
</ol>

<p>{{text | summary:20}}</p>